<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Flower</title>
  </head>
  <body>
    <h1><%= flower.name %></h1>
    <p><%= flower.scientific_name %></p>
    <ul>
      <% flower.colors.forEach((color) => { %>
      <li><%= color %></li>
      <% }) %>
    </ul>
    <p><%= flower.season %></p>
    <p><%= flower.symbolism %></p>
  </body>
</html>
