<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Show Flower</title>
  </head>
  <body>
    <%- include('../partials/html-head') %> <%- include('../partials/nav') %>
    <h1><%= flower.name %></h1>
    <p><%= flower.scientific_name %></p>
    <ul class="flower-colors">
      <% flower.colors.forEach((color) => { %>
      <li><%= color %></li>
      <% }) %>
    </ul>
    <p><%= flower.season %></p>
    <p><%= flower.symbolism %></p>

    <h3>Comments</h3>
    <ul>
      <% flower.comments.forEach(comment => { %>
      <li><%= comment.content %></li>

      <!-- if the user posted the comment, display a delete button -->
      <% if (user && comment.user.toString() === user._id.toString()) { %>
      <form
        action="/flowers/<%= flower._id %>/comments/<%= comment._id %>?_method=DELETE"
        method="POST"
      >
        <button type="submit">Delete Comment</button>
      </form>
      <% } %> <% }) %>
    </ul>

    <!-- check if user is logged in -->
    <% if (user) { %>
    <form
      class="comments-form"
      action="/flowers/<%=flower._id%>/comments/"
      method="POST"
    >
      <label for="comments">Comments:</label>
      <input type="text" name="content" id="content" />
      <button class="form-button" type="submit">Post</button>
    </form>

    <form action="/flowers/<%=flower._id%>?_method=DELETE" method="POST">
      <button class="delete-flower-button" type="submit">
        Delete <%= flower.name %>
      </button>
    </form>
    <!-- Link to take us to the new edit page at /flower/update/:id -->
    <a class="update-flower-link" href="/flowers/update/<%=flower._id%>"
      >Update flower</a
    >

    <% } %>
  </body>
</html>
