<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Update Flower</title>
  </head>
  <body>
    <%- include('../partials/html-head') %> <%- include('../partials/nav') %>
    <h1>Update <%= flower.name %></h1>
    <form
      class="flower-form"
      action="/flowers/<%=flower._id%>?_method=PUT"
      method="POST"
    >
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%=flower.name%>" />
      <label for="scientificName">Scientific Name:</label>
      <input
        type="text"
        name="scientificName"
        id="scientificName"
        value="<%=flower.scientific_name%>"
      />
      <label for="colors">Colours:</label>
      <input
        type="text"
        name="colors"
        id="colours"
        value="<%=flower.colors%>"
      />
      <label for="season">Season:</label>
      <input type="text" name="season" id="season" value="<%=flower.season%>" />
      <label for="symbolism">Symbolism:</label>
      <input
        type="text"
        name="symbolism"
        id="symbolism"
        value="<%=flower.symbolism%>"
      />
      <button class="form-button" type="submit">Update Flowers</button>
    </form>
  </body>
</html>
